In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [2]:
data=pd.read_csv("train.csv")

In [3]:
data["Age"].mean()

32.69985376827896

In [4]:
new_age=np.where(data["Age"].isnull(),32,data["Age"])

In [5]:

data["Age"]=new_age

In [6]:
data['Sex']=data['Sex'].map({'male':1,'female':0})

In [7]:

data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [8]:

data1=pd.DataFrame([data["Sex"],data["Age"],data["Fare"]]).T

In [9]:

treemodel=tree.DecisionTreeClassifier(max_depth=6)

In [10]:
treemodel.fit(X=data1,y=data["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [11]:
with open("decision_tree_1.dot",'w')as f:
    f=tree.export_graphviz(treemodel,feature_names=["Sex","Age","Fare"],out_file=f);

In [12]:
treemodel.score(X=data1,y=data["Survived"])

0.8256467941507312

# Prediction of survival using Age,Sex,Fare

In [13]:
data2=pd.read_csv("test.csv")

In [14]:
data2["Age"].mean()

33.23741007194245

In [15]:
new_age2=np.where(data2["Age"].isnull(),33,data2["Age"])

In [16]:
data2["Age"]=new_age2
data2['Sex'] = data2['Sex'].map({'male':1, 'female': 0})

In [17]:
data2.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,Q
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,S

In [18]:
data3=pd.DataFrame([data2["Age"],data2["Fare"],data2["Sex"]]).T
test_preds=treemodel.predict(X=data3)
predicted_output=pd.DataFrame({"PassengerId":data2["PassengerId"],"Survived":test_preds})
predicted_output.to_csv("output.csv",index=False);